body {
  /*background-color: lightsalmon;*/
  margin: 0;
  padding: 0;
  font-family: 'Underdog', cursive, Arial, serif;
}
header {
  padding: 5px;
  background-color: rgb(125, 152, 184);
  text-align: center;
}

header > h1 {
  max-width: 400px;
  vertical-align: top;
  display: inline-block;
}

header > img {
  height: 125px;
  vertical-align: top;
}

.content {
  padding: 5px;
  text-align: center;
}

.puppy-template {
  display: none;
}

.puppy {
  min-width: 250px;
  display: inline-block;
  background-color: rgba(37, 221, 41, 0.56);
  border: 1px solid white;
}

.puppy-picture > img {
  height: 100px;
}
